@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.noto-font {
  font-family: "Noto Serif", serif;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* header */
.header {
  padding-top: 30px;
  margin-bottom: 120px;
}
/* nav styles */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-container ul {
  display: flex;
  gap: 35px;
  margin-right: 35px;
}
.nav-container ul li {
  list-style: none;
}
.nav-container ul li a {
  text-decoration: none;
  color: #8987a1;
  font-weight: 400;
}
.cart-price {
  margin-left: 10px;
}
#home {
  font-weight: 700;
  color: #252432;
}
/* banner styles */
.banner {
  display: flex;
  align-items: center;
  margin-top: 200px;
}
.banner h1 {
  font-size: 55px;
  font-weight: 700;
}
.banner p {
  color: #00000080;
  font-size: 17px;
  font-weight: 400;
  margin-top: 13px;
}
.banner-right {
  width: 100%;
}
.fresh {
  color: #e95a08;
}
/* plants section */
.plants-section {
  margin-bottom: 100px;
}
.plants-container {
  text-align: center;
  margin-bottom: 40px;
}
.plants-container h1 {
  font-size: 50px;
  font-weight: 700;
}
.plants-container p {
  width: 600px;
  font-size: 17px;
  font-weight: 400;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 13px;
  margin-bottom: 40px;
}
.plants-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 25px;
  column-gap: 20px;
}
.card {
  text-align: center;
  color: #111111;
  font-size: 17px;
  font-weight: 500;
}
.card img {
  margin-bottom: 20px;
}
.card-price {
  margin-bottom: 12px;
  margin-top: 8px;
  font-weight: 700;
}
.card button {
  width: 100%;
  background-color: #e95a08;
  border: none;
  padding: 12px 0px;
  font-size: 12px;
  font-weight: 600;
  color: white;
}
/* plants lover section */
.plants-lover-section {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}
.plants-lover-container {
  margin-left: 80px;
  width: 100%;
}
.plants-lover-container h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}
.plants-lover-container ul li {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.plants-lover-img-container {
  position: relative;
  width: 100%;
}
.plants-lover-img {
  width: 100%;
  height: auto;
  display: block;
}
.badge-container {
  position: absolute;
  top: -100px;
  left: 400px;
}
.badge {
  width: 200px;
}